* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

.activer-popup{
  background: rgba(23, 39, 5, 0.744);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 50px;
  height: 70vh;
}

.activer-popup h1 {
  margin-bottom: 20px;
}

.activer-popup button {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.activer-popup button:hover {
  background: #cb4207;
  color: #fff;
}

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #444;
  z-index: 98;
  display: none;
}

#popup-overlay.open {
  display: block;
}

.popup-content{
  max-width: 600px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 50px;
}

.fermer {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #444;
  color: #fff;
}

.fermer:hover {
  background: #fff;
  color: #444;
}

